body {
    font-family: "Playfair Display", serif;
}

.content {
    width: 60%;
    margin: auto;
}

.toc {
    padding: 32px;
    position: fixed;
}

.toc ol {
    padding: 0;
}

table {
    border: 1px solid grey;
}

.infobox h3,
.infobox h4 {
    margin: 0;
    text-align: center;

    background-color: aquamarine;
}