body {
    font-family: "Playfair Display", serif;
}

.content {
    width: 50%;
    margin: auto;
}

.description {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 16px;
}

.toc {
    padding-left: 64px;
    position: fixed;
}

.toc ol {
    padding: 0;
}

table {
    border: 1px solid grey;
}

.infobox {
    grid-column: 2;
    grid-row: 1 / 4;
}

.infobox h3,
.infobox h4 {
    margin: 0;
    text-align: center;

    background-color: aquamarine;
}