body {
    font-family: "Playfair Display", serif;
}

.content {
    width: 50%;
    margin: auto;
}

.description {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 16px;
}

.toc {
    padding-left: 64px;
    position: fixed;
}

.toc ol {
    padding: 0;
}

table {
    border: 1px solid grey;
}

.infobox {
    grid-column: 2;
    grid-row: 1 / 4;
}

.infobox h3,
.infobox h4 {
    margin: 0;
    text-align: center;

    background-color: aquamarine;
}

.gallery {
    display: grid;
    gap: 8px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: repeat(2, 300px);
}

.gallery > div {
    border: 1px solid grey;
    padding: 4px;
}

.gallery > div > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}